<div class="main">
    <h1>Did you successfully escape from Professor Norman?</h1>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th *ngFor = "let column of headers">
                      {{column}}
                    </th>
                  </tr>
            </thead>
            <tbody>
                <tr class="row" *ngFor = "let rec of records.slice(0, 10)">
                    <td>
                        {{ rec.username }}
                    </td>
                    <td>
                        {{ rec.grade }}
                    </td>
                    <td>
                        {{ rec.score[1] }}
                    </td>
                  </tr>
            </tbody>
        </table>
        <button class="backToHome" [routerLink]="['/']">Back to Home</button>
    </div>
    
</div>